[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest
[submodule "extern/box2d"]
	path = extern/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "extern/rapidjson"]
	path = extern/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui
[submodule "extern/imgui_sdl"]
	path = extern/imgui_sdl
	url = https://github.com/Tyyppi77/imgui_sdl
[submodule "extern/imgui-filebrowser"]
	path = extern/imgui-filebrowser
	url = https://github.com/AirGuanZ/imgui-filebrowser
[submodule "extern/cxxopts"]
	path = extern/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "extern/imnodes"]
	path = extern/imnodes
	url = https://github.com/Nelarius/imnodes