#include "$activity_name.h"
#include "ScreenCamera.h"
#include "Clock.h"

$activity_name::$activity_name(ample::window::Window &window)
    : ample::window::WindowActivity(window) {}

void $activity_name::onAwake()
{
    WindowActivity::onAwake();
    std::cout << getWidth() << ' ' << getHeight() << std::endl;
}

void $activity_name::onActive()
{
    WindowActivity::onActive();
    camera.look();
    object.draw();
    camera.unlook();
    this->_window.swapBuffer();
}
